#homepage-1 {
    .ps-home-banner {
        padding-top: 30px;
        margin-bottom: 30px;
        .ps-collection {
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                height: 100%;
                > .slick-track {
                    height: 100%;
                    * {
                        height: 100%;
                    }
                }
            }

            .ps-banner-item--default {
                display: flex;
                width: 100%;
                height: 100%;
                // justify-content: center;
                align-items: center;
            }
        }

        #details-Container {
            // position: relative;
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // left: 100px;
        }

        #buttonAndTextWrapper {
            width: 70%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
            align-content: flex-start;
        }

        #shopNowButton {
            width: 40%;
            height: 16%;
            background-color: #e32017;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
        #shopNowText {
            height: fit-content;
            margin-bottom: 0;
            color: white;
            font-size: 1.4rem;
        }

        #editionText {
            height: fit-content;
            margin-bottom: 0;
            color: #e32017;
            font-size: 1.2rem;
        }

        #offerDetails {
            height: fit-content;
            margin-bottom: 0;
            font-size: 2.6rem;
            text-transform: uppercase;
            font-weight: bold;
            word-spacing: 2px;
        }
        #priceText {
            height: fit-content;
            margin-bottom: 0;
            font-size: 2.6rem;
            text-transform: uppercase;
            color: #690;
            font-weight: bold;
        }
        .ps-container {
            display: flex;
            height: 100%;
            > * {
                flex: 1;
                flex-basis: 100%;
            }

            .ps-section__left {
                padding-right: 30px;
                max-width: calc(100% - 390px);
                video {
                    width: 100%;
                }
            }

            .ps-section__right {
                max-width: 390px;
            }

            @include media('<lg') {
                display: block;
                .ps-section__left {
                    max-width: 100%;
                    margin-bottom: 10px;
                    padding-right: 0;
                }

                .ps-section__right {
                    display: flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    max-width: 100%;
                    .ps-collection {
                        width: 100%;
                        max-width: 50%;
                        padding: 0 5px;

                        img {
                            width: 100%;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1200px) {
            .ps-section__left {
                height: 300px;
            }
        }

        @include media('<xs') {
            .ps-section__left {
                height: 150px;
            }
        }
    }
    // edited
    @media screen and (min-width: 900px) and (max-width: 1400px) {
        #details-Container {
            width: 60% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowButton {
            align-self: center !important;
            width: 32% !important;
            height: 25% !important;
        }
        #shopNowText {
            font-size: 1.3rem !important;
        }

        // #editionText {
        //     height: fit-content;
        //     margin-bottom: 0;
        //     color: #e32017;
        //     font-size: 1.2rem;
        // }

        #offerDetails {
            font-size: 2rem !important;
        }
        #priceText {
            font-size: 2rem !important;
        }
    }

    @media screen and (min-width: 700px) and (max-width: 899px) {
        #details-Container {
            width: 65% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowButton {
            align-self: center !important;
            width: 25% !important;
            height: 22% !important;
        }
        #shopNowText {
            font-size: 1rem !important;
        }

        // #editionText {
        //     height: fit-content;
        //     margin-bottom: 0;
        //     color: #e32017;
        //     font-size: 1.2rem;
        // }

        #offerDetails {
            font-size: 1.7rem !important;
        }
        #priceText {
            font-size: 1.7rem !important;
        }
    }

    @media screen and (min-width: 567px) and (max-width: 699px) {
        #details-Container {
            width: 65% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowButton {
            align-self: center !important;
            width: 25% !important;
            height: 22% !important;
        }
        #shopNowText {
            font-size: 1rem !important;
        }

        // #editionText {
        //     height: fit-content;
        //     margin-bottom: 0;
        //     color: #e32017;
        //     font-size: 1.2rem;
        // }
        #shopNowButton {
            align-self: center !important;
            width: 30% !important;
            height: 22% !important;
        }

        #offerDetails {
            font-size: 1.4rem !important;
        }
        #priceText {
            font-size: 1.4rem !important;
        }
    }

    @media screen and (min-width: 480px) and (max-width: 566px) {
        #details-Container {
            width: 70% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowText {
            font-size: 0.9rem !important;
        }

        // #editionText {
        //     height: fit-content;
        //     margin-bottom: 0;
        //     color: #e32017;
        //     font-size: 1.2rem;
        // }
        #shopNowButton {
            align-self: center !important;
            width: 40% !important;
            height: 20% !important;
        }

        #offerDetails {
            font-size: 1.2rem !important;
        }
        #priceText {
            font-size: 1.2rem !important;
        }
    }

    @media screen and (min-width: 360px) and (max-width: 479px) {
        #details-Container {
            width: 65% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowText {
            font-size: 0.6rem !important;
        }

        #editionText {
            font-size: 0.6rem !important;
        }
        #shopNowButton {
            align-self: center !important;
            width: 30% !important;
            height: 25% !important;
        }

        #offerDetails {
            font-size: 0.9rem !important;
        }
        #priceText {
            font-size: 0.9rem !important;
        }
    }

    @media screen and (min-width: 0px) and (max-width: 359px) {
        #details-Container {
            width: 65% !important;
            height: 70% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column !important;
        }

        // #buttonAndTextWrapper {
        //     width: 70%;
        //     height: 80%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     // align-items: center;
        //     align-content: flex-start;
        // }

        #shopNowText {
            font-size: 0.5rem !important;
        }

        #editionText {
            font-size: 0.6rem !important;
        }
        #shopNowButton {
            align-self: center !important;
            width: 30% !important;
            height: 25% !important;
        }

        #offerDetails {
            font-size: 0.8rem !important;
        }
        #priceText {
            font-size: 0.8rem !important;
        }
    }
    .ps-site-features {
        padding-bottom: 90px;
        @media screen and (max-width: 480px) {
        }
    }

    .ps-deal-of-day {
        padding-bottom: 80px;
        .slick-slide {
            > div {
                margin: 0 8px;
            }
        }

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;
                font-weight: 600;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: red;
                }
            }
        }
    }

    .ps-top-categories {
        padding: 80px 0 50px;

        h3 {
            text-transform: capitalize;
        }

        @media (min-width: 1440px) {
            .row {
                .col-xl-2 {
                    max-width: calc(100% / 8);
                }
            }
        }

        @include media('<lg') {
            padding: 60px 0;
        }

        @include media('<md') {
            padding: 50px 0;
        }

        @include media('<sm') {
            padding: 40px 0;
        }

        @include media('<xs') {
            padding: 35px 0;
        }
    }

    .ps-product-list {
        padding-bottom: 80px;
        @include media('<md') {
            padding-bottom: 50px;
        }
        @include media('<sm') {
            padding-bottom: 40px;
        }
        @include media('<xs') {
            padding-bottom: 0px;
        }
    }

    .ps-download-app {
        margin-top: 80px;
        margin-bottom: 100px;
        @include media('<sm') {
            margin-bottom: 50px;
        }
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}
